@use 'variables' as var;

@mixin flex-center($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin theme($light-theme: true) {
  @if $light-theme {
    background: lighten(var.$primary-color, 100%);
    color: darken(var.$text-color, 100%);
  }
}

@mixin mobile {
  @media (max-width: var.$mobile) {
    @content;
  }
}
