@use '../root';

body {
  background: root.$primary-color;
  color: root.$text-color;
}

.main {
  @include root.flex-center();
  width: 80% - 40%;
  margin: 0 auto;

  #{&}__p1 {
    font-weight: weight(bold);

    &:hover {
      color: pink;
    }
  }

  #{&}__p2 {
    @extend .main__p1;

    &:hover {
      color: root.$accent-color;
    }
  }

  @include root.mobile {
    flex-direction: column;
  }
}

.light {
  @include root.theme($light-theme: true);
}
